<%= render "shared/navbar" %>


<% @artists.each do |artist| %>
	<%= artist.name %>  <%= artist.genre %> <%= artist.number_of_albums %><a href="/artists/<%=artist.id %>">Edit</a> <br>
<% end %>

<form method="POST" action="/artist">
	Name: <input type="text" name="name">
	Genre: <input type="text" name="genre">
	Number of albums: <input type="text" name="number_of_albums"><br>
	<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
	<button>Add Artist</button>
</form>

<%= form_tag do %>
  Form contents
<% end %>