<%= render "shared/navbar" %>

<%= artist.name %>, <%= artist.genre %> <%= artist.number_of_albums %>


<form method="POST" action="/artists/<%= artist.id %>">
	<input type="hidden" name="_method" value="PUT">
	Name: <input type="text" name="name" value="<%= artist.name %>"><br>
	Genre: <input type="text" name="genre" value="<%= artist.genre %>"><br>
	Number of albums: <input type="text" name="number_of_albums" value="<%= artist.number_of_albums %>"><br>
	<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
	<button>Update</button>
</form>

<form method="POST" action="/artists/<%= artist.id %>">
	<input type="hidden" name="_method" value="DELETE">
	<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">
	<button>Delete artist and songs</button>
</form>

