<h1>Listing puppy_dog_twos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Breed</th>
      <th>Cuteness</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @puppy_dog_twos.each do |puppy_dog_two| %>
      <tr>
        <td><%= puppy_dog_two.name %></td>
        <td><%= puppy_dog_two.breed %></td>
        <td><%= puppy_dog_two.cuteness %></td>
        <td><%= link_to 'Show', puppy_dog_two %></td>
        <td><%= link_to 'Edit', edit_puppy_dog_two_path(puppy_dog_two) %></td>
        <td><%= link_to 'Destroy', puppy_dog_two, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Puppy dog two', new_puppy_dog_two_path %>
